p
{
	color: black;
	font-size: 35px;
	text-align: center;
	line-height:60px;
}


.flotte{
	float: left;
}
.flotte,img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-top: 2.5px;
	margin-left: 4px;
}
.flotte,img:hover{
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}


div#conteneur{
	background-color: #EBD088;
	height: 60;
	margin-top: -148;
}
div#header
{
	width: 640px;
	background-color: #748284;
	height: 113px;
	border-radius: 50px;
	margin-left: 350px;
}
div#page_principale{
	background-color: white;
	width: 900px;
	height: 1300px;
	margin-top: 450px;
	margin-bottom: 200px;
	margin-left: 250px;
	text-align: center;
	font-size: 30px;
	opacity: 0.9;
}
input#contact:hover{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #3B3B3B;
    border-color: #EBD088;
    border: solid;
    border-width: 1px;
    color: #EBD088;
    border-radius: 10px;

}

input#contact{
	line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #EBD088;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 1200px;
    margin-top: -74px;

}

input#projet:hover{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #3B3B3B;
    border-color: #EBD088;
    border: solid;
    border-width: 1px;
    color: #EBD088;
    border-radius: 10px;

}
input#projet{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #EBD088;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 65px;
}



input#malware:hover{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #3B3B3B;
    border-color: #EBD088;
    border: solid;
    border-width: 1px;
    color: #EBD088;
    border-radius: 10px;
    }
input#malware{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #EBD088;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 20px;
}


input#profil:hover{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #3B3B3B;
    border-color: #EBD088;
    border: solid;
    border-width: 1px;
    color: #EBD088;
    border-radius: 10px;
    }
input#profil{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #EBD088;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 20px;
}


input#blabla:hover{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #3B3B3B;
    border: solid;
    border-width: 1px;
    color: #EBD088;
    border-radius: 10px;
    }
input#blabla{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #EBD088;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 20px;
}

body{
	
	margin: 0px;
	background-image:url(images/code.jpg);
	background-attachment:fixed;
}