
h1
{
	color: #D7DF01;
}
table, tr, td{
	border: 1px solid red;
	color: white;
}
td{
	padding: 15px;
}
a
{	
	color: yellow;
	text-align: center;
	font-size: 20px;
}

body{
	margin: 10% 30% 0% 30%;
	background-image:url(images/dark.png);
	font-family: century;
}

.mt_50{
	margin-top: 50px;
}
header{
	text-align: center;
}

div.footer{
	border: solid;
	border-color: black;
	background-color: white;
	color: black;
	border-radius: 50px;
	text-align: center;
	width: 200px;
	margin-left: 150px;

}

div.footer:hover{
	border: solid;
	border-color: white;
	background-color: black;
	color: black;
	border-radius: 50px;
	text-align: center;
	width: 200px;

}

div.tableau{
	margin-top: 450px;
	text-align: center;
	margin-left: 35px;
	width: 450px;
	vertical-align: top;
	
}
div#element1{
	
	margin-left: 35px;
	text-align: center;
	width:  450px;
	display: inline-block;
}
div.list{
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 300px;
	
}
table{
	margin-left: 130px;
}
div#trans{
	background-color: rgba(255,35,62,0);
	margin-left: 260px;
	margin-top: 250px;

}

div.list:hover{
	color: #D7DF01;
	text-align: center;
	background-color: #D7DF01;
}
.zoom:hover img {

-webkit-transform:scale(1.25); 
-moz-transform:scale(1.25); 
-ms-transform:scale(1.25); 
-o-transform:scale(1.25); 
transform:scale(1.25);
}
.zoom figcaption{
	color: #D7DF01;
	font-size: 20px;
	margin-left: 75px;

}
form{
	color: black;
	background-color: #D7DF01;
	text-align: center;
	opacity:0.5;
	width: 50%;
	margin-left: 150px;
}
h1.titre{
	text-align: center;
}
form:hover{
	opacity: 0.8;
}